# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
NEXT_PUBLIC_CLIENT_API_URL=http://localhost:3000
OPEN_LIBRARY_BASE_URL=https://openlibrary.org

# Cache Configuration
CACHE_REVALIDATE_TIME=3600
CACHE_MAX_AGE=3600
CACHE_STALE_WHILE_REVALIDATE=86400

# App Configuration
NEXT_PUBLIC_APP_NAME=Book Store
NEXT_PUBLIC_APP_DESCRIPTION=Best books for all tastes and ages

# Contact Information
NEXT_PUBLIC_CONTACT_EMAIL=info@bookstore.com
NEXT_PUBLIC_CONTACT_PHONE=+380 50 123 4567
NEXT_PUBLIC_CONTACT_LOCATION=Kyiv, Ukraine
